ContactsBook.API/bin
ContactsBook.API/obj
ContactsBook.API.Tests/bin
ContactsBook.API.Tests/obj
ContactsBook.Core/bin
ContactsBook.Core/obj
ContactsBook.Core.Tests/bin
ContactsBook.Core.Tests/obj
ContactsBook.Repositories.EF/bin
ContactsBook.Repositories.EF/obj
ContactsBook.Services/bin
ContactsBook.Services/obj
ContactsBook.Services.Tests/bin
ContactsBook.Services.Tests/obj
ContactsBook.Translations/bin
ContactsBook.Translations/obj
packages
.vs
TestResults

